

services:
  # Servicio de Base de Datos exclusivo para este proyecto
  cloud_db:
    image: postgres:15-alpine
    container_name: cloud_photos_container
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_cloud_data:/var/lib/postgresql/data

  # (Opcional) Visor de base de datos web ligero
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  postgres_cloud_data: